
          .carousel-item{
            height: 32rem;
            background: gray;
            color: wheat;
          }
          .container {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            padding: 50px;
          }
          .row {
              display: flex;
              flex-direction: row;
              position: relative;
              left: 320px;
          }
        .headerBluePrint {
            text-align: center;

        
        }
        