// Cards responsiveness #get-involved
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1600px
) !default;

$grid-gutter-width: 30px !default;

// number of cards per line for each breakpoint
$get-involved-cards-per-line: (
    xs: 1,
    sm: 1,
    md: 2,
    lg: 4,
    xl: 4
);
$homepage-cards-per-line: (
    xs: 1,
    sm: 1,
    md: 2,
    lg: 2,
    xl: 2
);


@each $name, $breakpoint in $grid-breakpoints {
    @media (min-width: $breakpoint) {
        #get-involved .card-deck .card {
            flex: 0 0 calc(#{100/map-get($get-involved-cards-per-line, $name)}% - #{$grid-gutter-width});
        }

        #homepage .card-deck .card {
            flex: 0 0 calc(#{100/map-get($homepage-cards-per-line, $name)}% - #{$grid-gutter-width});
        }
    }
}

@media screen and (max-width: 1600px){
    /* start of large tablet styles */

    .write-img{
        width:100%;
        max-width:500px;
        height:auto;
    }

    #get-involved{
    
        .card-body{
            justify-content:center;
            text-align:center;
        }


    }   

}

@media screen and (max-width: 1200px){
    /* start of navbar toggler showing up*/

    header {
        .navbar-collapse {
            .dropdown-menu {
                padding-top: 10px;
            }
        }
    }

    .blueprint {
        text-align: center;
    }

    footer{

        .get-involved{
            padding-bottom: 30px;
        }
        .icon{
            padding-right: 0px;
        }
    }

}



    

@media screen and (min-width:991px) and (max-width: 1400px){
    /* large tablet styles */
    #homepage{
        #magnifycarousel{
            
        
            .carousel-item{
                width:100%;
                margin-left:0px;
            }
    
            img{
                margin-bottom: 20px;
            }
            /* .carousel-control-next-icon:after {
                content: '>';
                font-size: 40px;
                margin-left:100px;
            }
        
            .carousel-control-prev-icon:after {
                content: '<';
                font-size: 40px;
                margin-right:100px;
            } */
    
        }

        .container,
        .container-fluid {
            position: relative;
            padding-top: 70px;
            padding-bottom:0px;
        }

    }
    footer{
        .container-overlay{
            margin-left: 40px;
        }
    }
    

}



@media screen and (max-width: 991px) {
    /* start of medium tablet styles */

    /*header{
        height:50px;

        .logo-img {
            max-width: 70px;
            width:100%;
            margin-right: 20px;
            align-items: center;
        }
    }*/
    header {
        .navbar{
            padding: 0 0;
            height: 70px;

            .navbar-brand{
                margin-left: 10px;
            }
        }
    }

    #homepage #magnifycarousel {
        .carousel-control-prev, .carousel-control-next {
            visibility: hidden;
        }
    }


    #page{
        margin: 40px 40px;

        #ourmission{

            .blueprint{
                margin-top:60px;
            }
    
            .magnify{
                margin-top:auto;
            }
        }

        #support{
            .handshake{
                align-items: center;
            }

            .icon{
                text-align: center;
                margin:auto;
            }
        }
    }

    #get-involved{
        .images{
            text-align:center;
        }

        .textbox{
            text-align: center;
            justify-content:center;
        }

        .title{
            justify-content:center;
            text-align:center;
        }

        .btn{
            margin:0 auto;
            display:block;
        }

        .card-body{
            justify-content:center;
            text-align:center;
        }
    }

    footer{

        .container-overlay{
            margin-left: 270px;
        }

        .get-involved{
            text-align: center;
        }

        .blog{
            text-align: center;
            margin-left: 40px;
        }

        .icon{
            padding-right: 0px;
        }
    }

}

@media screen and (min-width: 479px) and (max-width: 991px){
    /* start of medium tablet styles */

    #homepage{
        .carouselrow{
            height:200px
        }

        #magnifycarousel{
            .carousel-item{
                width:100%;
                margin-left:0px;
            }
    
            img{
                margin-bottom: 20px;
            }
            /* .carousel-control-next-icon:after {
                content: '>';
                font-size: 40px;
                margin-left:90px;
            }
        
            .carousel-control-prev-icon:after {
                content: '<';
                font-size: 40px;
                margin-right:90px;
            } */
    
        }

        .container,
        .container-fluid {
            position: relative;
            padding-top: 70px;
            padding-bottom:0px;
        }

        .introcard{
            padding:30px;
            margin-bottom: 10px;
        }
    
        .journalstats{
            justify-content: center;
            margin-top: 0px;
        }
    
        .journalimage{
            width:150px;
        }

        .journaltext{
            margin-top: 20px;
        }
        
        .partnerpic{
            margin-top:15px;
        }

    }

   

    

}

@media (max-width: 700px) {
    .modal-body .img-fluid {
        float: none;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 479px) {
    /* start of phone styles */

    /*header{
        max-height:50px;
        .navbar{
            .navbar-brand{
                margin-left: 10px;
            }

            .logo-img {
                max-width: 70px;
                width:100%;
                margin-right: 5px;
                align-items: center;
            }

            .logo-text {
                font-size: 40px;
            }
        }

    }*/
    header {
        .navbar-brand {
            .logo-img {
                margin-bottom: -20px;
            }

            .logo-text {
                font-size: 26px;
                margin-bottom: 30px;
            }
        }

        .stemchats {
            margin-left: -135px;
            margin-bottom: -5px;
        }

        .navbar-collapse {
            margin-top: -10px;
        }

        .lines {
            top: -10px;
        }
    }

    footer{

        .container-fluid{
            padding:40px 20px;
        }
        .container-overlay{
            margin-left: 75px;
        }

        .get-involved{
            text-align: center;
        }
       .blog{
           text-align: center;
           margin: 0px;
       }

        .row-mission{
            padding-top: 20px;
        }

        .socials{
            .icon{
                padding: 5px;
            }
        }
    }

    #page{
        margin: 20px 20px;

        #ourmission{

            .textbox{
                text-align: center;
            }

            .research-img{
                width:100%;
                max-width: 500px;
                height:auto;
            }

            .blueprint{
                margin-top:60px;
            }

            .magnify{
                margin-top:auto;
            }
        }

        #partners{

            img{
                width:100%;
                max-width:600px;
                height:auto;

            }
        }
    }

    #get-involved{
        .write-img{
            width:100%;
            max-width:600px;
            height:auto;
        }

        .stemchats-img{
            width:100%;
            max-width:300px;
            height:auto;
        }

        .scholars-img{
            width:100%;
            max-width:400px;
            height:auto;
        }

        .opp-title{
            justify-content:center;
            text-align:center;
        }
        .opp-text{
            justify-content:center;
            text-align:center;
        }
    }

    #homepage{
        #magnifycarousel{
            .carousel-item{
                margin-top: 20px;
                width:100%;
                margin-left:0px;
            }

            img{
                margin-bottom: 20px;
            }
            /* .carousel-control-next-icon:after {
                content: '>';
                font-size: 40px;
                margin-left:50px;
            }
        
            .carousel-control-prev-icon:after {
                content: '<';
                font-size: 40px;
                margin-right:50px;
            } */

        }

        .container,
        .container-fluid {
            position: relative;
            padding-top: 25px;
            padding-bottom:0px;
        }

        .journalstats{
            justify-content: center;
            margin-top: 0px;
        }
    
        .journalimage{
            width:150px;
        }
    
        .journaltext{
            margin-top: 20px;
        }
    
        .introcard{
            padding:30px;
            margin-bottom: 10px;
        }
    
        .partnerpic{
            margin-top: 15px;
        }

        .carouselrow{
            height:350px;
        }
    }

    
    
    
}

