@media screen and (max-width: 479px) {
  /* start of phone styles */
  header {
    max-height: 50px;
  }
  header .navbar .navbar-brand {
    margin-left: 10px;
  }
  header .navbar .logo-img {
    max-width: 70px;
    width: 100%;
    margin-right: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar .logo-text {
    font-size: 40px;
  }
  footer .container-fluid {
    padding: 40px 20px;
  }
  footer .get-involved {
    text-align: center;
  }
  footer .blog {
    text-align: center;
    margin: 0px;
  }
  footer .row-social {
    padding-top: 50px;
    text-align: center;
  }
  footer .row-mission {
    padding-top: 20px;
  }
  #page {
    margin: 20px 20px;
  }
  #page #ourmission .textbox {
    text-align: center;
  }
  #page #ourmission .research-img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  #page #ourmission .blueprint {
    margin-top: 60px;
    margin-bottom: auto;
  }
  #page #ourmission .magnify {
    margin-top: auto;
  }
  #page #partners img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  #get-involved .write-img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  #get-involved .stemchats-img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  #get-involved .scholars-img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  #get-involved .opp-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #get-involved .opp-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #homepage #magnifycarousel .carousel-item {
    margin-top: 20px;
    width: 100%;
    margin-left: 0px;
  }
  #homepage #magnifycarousel img {
    margin-bottom: 20px;
  }
  #homepage #magnifycarousel .carousel-control-next-icon:after {
    content: '>';
    font-size: 40px;
    margin-left: 50px;
  }
  #homepage #magnifycarousel .carousel-control-prev-icon:after {
    content: '<';
    font-size: 40px;
    margin-right: 50px;
  }
  #homepage #magnifycarousel .carousel-indicators {
    margin-bottom: 0px;
  }
  #homepage .container,
  #homepage .container-fluid {
    position: relative;
    padding-top: 25px;
    padding-bottom: 0px;
  }
  #homepage .journalstats {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 80px;
    margin-top: 0px;
  }
  #homepage .journalimage {
    width: 150px;
    margin-left: 100px;
  }
  #homepage .journaltext {
    margin-top: 20px;
  }
  #homepage .introcard {
    padding: 30px;
    margin-bottom: 10px;
  }
  #homepage .partnerpic {
    margin-top: 15px;
  }
  #homepage .carouselrow {
    height: 350px;
  }
}

@media screen and (max-width: 991px) {
  /* start of medium tablet styles */
  header {
    height: 50px;
  }
  header .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .navbar .navbar-brand {
    margin-left: 10px;
  }
  .logo-img {
    max-width: 70px;
    width: 100%;
    margin-right: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page {
    margin: 40px 40px;
  }
  #page #ourmission .blueprint {
    margin-top: 60px;
    margin-bottom: auto;
  }
  #page #ourmission .magnify {
    margin-top: auto;
  }
  #page #support .handshake {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #page #support .icon {
    text-align: center;
    margin: auto;
  }
  #get-involved .images {
    text-align: center;
  }
  #get-involved .textbox {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #get-involved .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #get-involved .btn {
    margin: 0 auto;
    display: block;
  }
  #get-involved .card-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  footer .get-involved {
    text-align: center;
  }
  footer .row-social {
    padding-bottom: 40px;
  }
  footer .blog {
    text-align: center;
    margin-left: 40px;
  }
  footer .icon {
    padding-right: 0px;
  }
}

@media screen and (max-width: 1600px) {
  /* start of large tablet styles */
  .write-img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  #get-involved .card-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  /* start of navbar toggler showing up*/
  header {
    max-height: 50px;
  }
  header .navbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  header .navbar .nav-item {
    line-height: 20px;
  }
  header .navbar .dropdown:active {
    z-index: 0;
    position: relative;
  }
  header .navbar .dropdown:active .dropdown-menu {
    margin-top: -1px;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  footer .get-involved {
    text-align: center;
    padding-bottom: 30px;
  }
  footer .icon {
    padding-right: 0px;
  }
}

@media (min-width: 0) {
  .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 30px);
            flex: 0 0 calc(100% - 30px);
  }
}

@media (min-width: 576px) {
  .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 30px);
            flex: 0 0 calc(100% - 30px);
  }
}

@media (min-width: 768px) {
  .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 30px);
            flex: 0 0 calc(100% - 30px);
  }
}

@media (min-width: 992px) {
  .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 30px);
            flex: 0 0 calc(25% - 30px);
  }
}

@media (min-width: 1600px) {
  .card-deck .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(20% - 30px);
            flex: 0 0 calc(20% - 30px);
  }
}

@media (max-width: 700px) {
  .modal-body .img-fluid {
    float: none;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 479px) and (max-width: 991px) {
  /* start of medium tablet styles */
  #homepage .carouselrow {
    height: 200px;
  }
  #homepage #magnifycarousel .carousel-item {
    width: 100%;
    margin-left: 0px;
  }
  #homepage #magnifycarousel img {
    margin-bottom: 20px;
  }
  #homepage #magnifycarousel .carousel-control-next-icon:after {
    content: '>';
    font-size: 40px;
    margin-left: 90px;
  }
  #homepage #magnifycarousel .carousel-control-prev-icon:after {
    content: '<';
    font-size: 40px;
    margin-right: 90px;
  }
  #homepage #magnifycarousel .carousel-indicators {
    margin-bottom: 0px;
  }
  #homepage .container,
  #homepage .container-fluid {
    position: relative;
    padding-top: 70px;
    padding-bottom: 0px;
  }
  #homepage .introcard {
    padding: 30px;
    margin-bottom: 10px;
  }
  #homepage .journalstats {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 270px;
    margin-top: 0px;
  }
  #homepage .journalimage {
    width: 150px;
    margin-left: 270px;
  }
  #homepage .journaltext {
    margin-top: 20px;
  }
  #homepage .partnerpic {
    margin-top: 15px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1400px) {
  /* large tablet styles */
  #homepage #magnifycarousel .carousel-item {
    width: 100%;
    margin-left: 0px;
  }
  #homepage #magnifycarousel img {
    margin-bottom: 20px;
  }
  #homepage #magnifycarousel .carousel-control-next-icon:after {
    content: '>';
    font-size: 40px;
    margin-left: 100px;
  }
  #homepage #magnifycarousel .carousel-control-prev-icon:after {
    content: '<';
    font-size: 40px;
    margin-right: 100px;
  }
  #homepage #magnifycarousel .carousel-indicators {
    margin-bottom: 0px;
  }
  #homepage .container,
  #homepage .container-fluid {
    position: relative;
    padding-top: 70px;
    padding-bottom: 0px;
  }
  #homepage .journalstats {
    padding-left: 10px;
  }
  #homepage .journalimage {
    margin-left: 60px;
  }
}
/*# sourceMappingURL=media.css.map */