// Roboto Slab
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
// Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// Karla (instead of Proxima Nova)
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// VARIABLES
$light-blue : #b3cdde;
$blue : #005792;
$dark-blue : #13334c;
$red : #ff5959;
$teal : #82d1c6;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



// PAGE HIGHLIGHT
.home #home-nav,
.about #about-nav,
.journals #journals-nav,
.blog #blog-nav,
.involved #involved-nav {
    color: black;
    font-weight: bold;

    &:hover {
        color: $blue;
    }
}

.container, .container-fluid {
    position: relative;
    padding: 120px 1.5rem;
}
.text-center {
    width: 100%;
    border: none;
    border-radius: 0;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.small-box-title { //h3
    margin-top: 10rem;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.medium-box-title { //h2
    margin-top: 10rem;
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
}

.large-box-title { //h1
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}


header{
    position:absolute;
    z-index:10;
    width:100%;
    height:100px;
    background-color:$dark-blue;
    

    .navbar{
        padding:20 0px;
        line-height:74px;
        background-color:$dark-blue;

        .navbar-brand{
            font-weight: 800;
            font-size: 2em;
            font-family:Roboto Slab;
            color:#fff;
            z-index: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: rem;
            line-height: 100px;
            overflow:hidden;
            margin-left:100px;

            &:hover{
                color:#ff5959;
            }

            .logo-img {
                width: 70px;
                margin-top: -10px;
                margin-right:-2px;
            }
            .logo-text {
                border: 0;
                transition: 0.5s;
                padding: 10px 5px 5px;
                font-weight: bold;
                z-index:10;
                font-size:50px;
                letter-spacing:5px;
            }
        }
        .nav-item{
            font-family:Josefin Sans;
            z-index: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left:25px;
            margin-right:50px;
            margin-top:10px;
            font-size:20px;

            .nav-link{
                font-weight:800px;
                color:#fff;
            }
            .nav-link:hover{
                color:$red;
                transition: 0.5s;
            }
        }
        .nav-item.active{
            font-weight:bold;
                .nav-link{
                    color:$teal;
                }
            }
        }
        .dropdown:hover{
            z-index: 0;
            
            .dropdown-menu{
                margin-top:-1px;
                display:block;
                background-color:$blue;
            }
        }
    }



// TEAM

.team-header {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

.team-desc {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.teamcard-container {
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0px 25px;
    padding: 0 50px 60px 50px;

    &:hover .img-hover .teamcard-content {
        background: #b3cdde;
        transform: translateY(-100%);
        transition: all 1s ease;
        border-radius: 6%;
    }
}

.team-row {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 300px;
    }
}

.teamcard-desc {
    padding-top: 30px;

    .teamcard-position {
        color: #005792;
    }
}

.img-hover {
    position: relative;
    overflow: hidden;

    img {
        width: 250px;
        border-radius: 6%;
    }
}

.teamcard-content {
    position: absolute;
    left: 0;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    p {
        position: relative;
        white-space: normal;
        word-wrap: break-word;
        padding: 20px;
        padding-top: 20px;
    }
}

.socials .fab {
    color: #005792;

    &:hover {
        color: #13334c;
    }
}



// FOOTER
footer {
    font-family: 'Karla';

    .container-fluid{
        width: 100%;
        background-color: $blue;
        padding: 30px 40px;
        min-height: 150px;
    }

    h4 {
        color: white;
    }

    p{
        color: $light-blue
    }

    .nextlink {
        color: white
    }

    .link{
        color: $light-blue;
    
        &:hover{
            color: $teal;
            text-decoration: none;
            border-bottom: 1px solid;
        }
    }

    .magnify-logo{
        width:150px;
    }

    .text-overlay {
        white-space: nowrap; 
        color :white;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:$dark-blue;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
        opacity: 1;
    }

    .container-overlay{
        position: relative;
        width: 50%;

        &:hover .overlay{
            width: 150px;
        }
    }

    .icon{
        color:white;
        margin: 0 10px;

        &:hover{
            color:$teal;
        }
    }

    .mission{
        font-size: 25px;
        font-weight: 700;
        color: $teal;
        font-style: italic;
        text-align:center;
    }

    .bottom{
        color:white;
        font-size:13px;
    }
  
    .row-bottom{
        text-align:center;
    }
}

//GET INVOLVED 
#get-involved{
    font-family: 'Karla';
    font-size:18px;

    h1{
        margin-top: 20px;
        font-family: 'Roboto Slab';
    }


    .textbox{
        margin-top:20px;
        margin-bottom:20px;
    }

    .buttons{
        margin-bottom:20px;
        margin-top:20px;
        text-align: center;
    }

    .write-img{
        width:600px;
        height:auto;
    }

    .scholars-img{
        width:400px;
        height:auto;
        justify-content: center;
    }

    .stemchats-img{
        width:300px;
        height:auto;
    }

    .btn{
        background-color: $blue;
        border-color:$blue;
        box-shadow:none;
        outline: none;

        &:hover{
            background-color: $teal;
            border-color: $teal;
        }

    }

    .linkintext{
        font-weight: bolder;
        color: $blue;

        &:hover{
            text-decoration: none;
            border-bottom: 1px solid;
            color:$blue;
            background-color:#99d6ff;
        }
    }

    .write{
        padding:20px;
    }

    .work{
        padding:20px;
    }

    .collaboration{
        padding:20px;
    }


}
