// Roboto Slab
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
// Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// Karla (instead of Proxima Nova)
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// VARIABLES
$light-blue : #b3cdde;
$blue : #005792;
$dark-blue : #13334c;
$red : #ff5959;
$teal : #82d1c6;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container,
.container-fluid {
    position: relative;
    padding: 150px 1.5rem 70px;
}

.text-center {
    width: 100%;
    border: none;
    border-radius: 0;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: Karla;

}

ol {
    font-family: Karla;
}

address {
    font-family: Karla;
}

.small-box-title {
    //h3
    margin-top: 10rem;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.medium-box-title {
    //h2
    margin-top: 10rem;
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
}

.large-box-title {
    //h1
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: Josefin Sans;
}


header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: $dark-blue;

    .navbar {
        padding: 20 0px;
        line-height: 74px;
        background-color: $dark-blue;

        .navbar-brand {
            font-weight: 800;
            font-size: 2em;
            font-family: Roboto Slab;
            color: #fff;
            z-index: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: rem;
            line-height: 100px;
            overflow: hidden;
            margin-left: 100px;

            &:hover {
                color: #ff5959;
            }

            .logo-img {
                width: 70px;
                margin-top: -10px;
                margin-right: -2px;
            }

            .logo-text {
                border: 0;
                transition: 0.5s;
                padding: 10px 5px 5px;
                font-weight: bold;
                z-index: 10;
                font-size: 50px;
                letter-spacing: 5px;
            }
        }

        .nav-item {
            font-family: Josefin Sans;
            z-index: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 25px;
            margin-right: 50px;
            margin-top: 10px;
            font-size: 20px;

            .nav-link {
                font-weight: 800px;
                color: #fff;

                &:hover {
                    color: $red;
                    transition: 0.5s;
                }
            }

            &.active {
                font-weight: bold;

                .nav-link {
                    color: $teal;
                }
            }
        }
    }

    .dropdown:hover {
        z-index: 0;

        .dropdown-menu {
            margin-top: -1px;
            display: block;
            background-color: $blue;
        }
    }
}



// TEAM

.team-header {
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.team-desc {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.teamcard-name {
    padding-top: 20px;
}

.teamcard-container {
    text-align: center;
    overflow: hidden;
    position: relative;
    // margin: 0px 25px;
    padding: 0 50px 60px 50px;

    &:hover .img-hover .teamcard-content {
        background: #b3cdde;
        transform: translateY(-100%);
        transition: all 1s ease;
        border-radius: 6%;
    }
}

.teamcard-position {
    color: #005792;
    font-size: 17px;
}

.teamcard-container {
    margin-bottom: 20px;
}

.img-hover img {
    height: 300px;
    width: 260px;
    object-fit: cover;
    border-radius: 6%;
}

.socials .fab {
    color: #005792;
    padding-left: 10px;
    font-size: 35px;
}

.socials .fab:hover {
    color: #13334c;
}

.modal-trigger {
    cursor: pointer;
}

.modal-title {
    font-size: 25px;
}

.modal-head {
    display: flex;
    margin-bottom: 5px;
    text-align: center;
}

.modal-role {
    margin-bottom: 15px;
    color: #005792;
}

.modal-body .img-fluid {
    height: 300px;
    width: 250px;
    object-fit: cover;
    float: left;
    padding-right: 20px;
}

.teamcard-desc {
    padding-top: 30px;

    .teamcard-position {
        color: #005792;
    }
}

.img-hover {
    position: relative;
    overflow: hidden;

    img {
        width: 250px;
        border-radius: 6%;
    }
}


// BLOG

.blog-header {
    text-align: center;
    font-size: 50px;
}

.blog-desc {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-btn {
    margin-bottom: 20px;
    color: #005792;
    border: 1.5px solid #005792;
    padding: 8px;
    transition: 0.4s;
}

.post-btn:hover {
    text-decoration: none;
    color: white;
    background-color: #005792;
    transition: 0.5s;

    p {
        position: relative;
        white-space: normal;
        word-wrap: break-word;
        padding: 20px;
        padding-top: 20px;
    }
}

.card-title a {
    text-decoration: none;
    color: #005792;

    &:hover {
        color: #13334c;
    }
}

.medium-btn {
    margin-bottom: 25px;
}

.card-img-top {
    height: 230px;
    object-fit: cover;
}



// FOOTER

footer {
    font-family: 'Karla';

    .container-fluid {
        width: 100%;
        background-color: $blue;
        padding: 30px 40px;
        min-height: 150px;
    }

    h4 {
        color: white;
    }

    p {
        color: $light-blue
    }

    .nextlink {
        color: white
    }

    .link {
        color: $light-blue;

        &:hover {
            color: $teal;
            text-decoration: none;
            border-bottom: 1px solid;
        }
    }

    .magnify-logo {
        width: 150px;
    }

    .text-overlay {
        white-space: nowrap;
        color: white;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $dark-blue;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
        opacity: 1;
    }

    .container-overlay {
        position: relative;
        width: 50%;

        &:hover .overlay {
            width: 150px;
        }
    }

    .icon {
        color: white;
        margin: 0 10px;

        &:hover {
            color: $teal;
        }
    }

    .mission {
        font-size: 25px;
        font-weight: 700;
        color: $teal;
        font-style: italic;
        text-align: center;
    }

    .bottom {
        color: white;
        font-size: 13px;
    }

    .row-bottom {
        text-align: center;
    }
}

//ABOUT  

#page {
    font-family: 'Karla';
    font-size: 18px;
    margin: 50px 90px;

    .textbox {
        margin: 30px 10px;
    }

    #ourmission {

        .opening {
            text-align: center;
        }

        a {
            font-weight: bolder;
            color: $red;

            &:hover {
                text-decoration: none;
                border-bottom: 1px solid;
                color: $red;
                background-color: #ffc2c2;

            }
        }

        .title {
            padding: 10px;
            text-align: center;
        }

        .textbox {
            text-align: justify;
        }

        .research-img {
            width: 500px;
            height: auto;
        }

        b {
            color: $blue
        }

        .blueprint {
            margin-top: 60px;
            margin-bottom: 50px;
        }

        .magnify {
            margin-top: 60px;
            margin-bottom: 50px;
        }


    }

    #partners {

        .textbox {
            text-align: center;
        }

        a {
            font-weight: bolder;
            color: $blue;

            &:hover {
                text-decoration: none;
                border-bottom: 1px solid;
                color: $blue;
                background-color: #99d6ff;
            }
        }

        img {
            width: 600px;
            height: auto;
        }

    }

    #support {
        .textbox {
            text-align: center;
            margin-bottom: 70px;
        }

        .handshake {
            color: $blue;
            text-align: center;
        }

        .btn {
            color: $blue;
            background-color: white;
            border-color: $blue;
            font-weight: bolder;

            &:hover {
                color: white;
                background-color: $teal;
                border-color: $teal;
                font-weight: bolder;
            }

        }

    }
}
    

//GET INVOLVED 
#get-involved {
    font-family: 'Karla';
    font-size: 18px;

    h1 {
        margin-top: 20px;
        font-family: 'Roboto Slab';
    }

    .textbox {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .buttons {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .write-img {
        width: 600px;
        height: auto;
    }

    .scholars-img {
        width: 400px;
        height: auto;
        justify-content: center;
    }

    .stemchats-img {
        width: 300px;
        height: auto;
    }

    .btn {
        background-color: $blue;
        border-color: $blue;
        box-shadow: none;
        outline: none;

        &:hover {
            background-color: $teal;
            border-color: $teal;
        }

    }

    .linkintext {
        font-weight: bolder;
        color: $blue;

        &:hover {
            text-decoration: none;
            border-bottom: 1px solid;
            color: $blue;
            background-color: #99d6ff;
        }
    }

    .write {
        padding: 20px;
    }

    .work {
        padding: 20px;
    }

    .collaboration {
        padding: 20px;
        
}


  
.carousel-item{
    height: 32rem;
    background: gray;
    color: wheat;
}
.container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 50px;
}
.row {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 320px;
}
.headerBluePrint {
    text-align: center;        
}
.imgBluePrint {
    height: 200px;
    width: 300px;
    position: relative;
    left: 550px;
}
.textSection {
    padding: 40px;
}

.partnerSection {
    background-color: tomato; 
    text-align: center;
    width: 1030px;
    font-size: 40px;
    position: relative;
    left: 120px;
}
}