@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.container,
.container-fluid {
  position: relative;
  padding: 150px 1.5rem 70px;
}

.text-center {
  width: 100%;
  border: none;
  border-radius: 0;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.center a {
  font-weight: bolder;
  color: #005792;
}

.center a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #005792;
  background-color: #99d6ff;
}

ol {
  font-family: Karla;
}

.small-box-title {
  margin-top: 10rem;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
}

.medium-box-title {
  margin-top: 10rem;
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}

.large-box-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
}

.large-box-title-first {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
}

.Volume1_title {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
  margin-top: -190px;
  text-align: center;
}

.Volume_List {
  margin: 70px;
  position: relative;
  top: -20px;
  left: 250px;
  font-family: Karla;
  font-size: 20px;
}

.form-select {
  width: 20rem;
  border-color: #005792;
  height: 60px;
  position: relative;
  top: -30px;
  background: #005792;
  color: wheat;
  margin-left: 100px;
  text-align: center;
}

.Volume2 {
  margin-left: 100px;
}

.Volume2 .comingSoon {
  color: white;
  letter-spacing: 10px;
  font-size: 80px;
  position: relative;
}

.Volume2 .vol2Description {
  color: black;
  font-size: 15px;
  position: relative;
  margin-left: 50px;
  font-family: Karla;
}

.Volume2 .Volume2_header {
  position: relative;
  top: -140px;
  left: 150px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  color: white;
  font-size: 50px;
  word-spacing: 8px;
  letter-spacing: 3px;
}

header {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: #005792;
}

header .navbar {
  padding: 20 0px;
  line-height: 74px;
  background-color: #005792;
}

header .navbar .logo-img {
  width: 70px;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .logo-text {
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 5px 5px;
  font-weight: bold;
  z-index: 10;
  font-size: 50px;
  letter-spacing: 5px;
  z-index: 5;
}

header .navbar .navbar-brand {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: rem;
  line-height: 100px;
  overflow: hidden;
  margin-left: 50px;
}

header .navbar .navbar-brand:hover {
  color: #82d1c6;
}

header .navbar .stemchats {
  color: #82d1c6;
  font-size: 14px;
  line-height: 1em;
  margin: 25px 0 0 -10px;
}

header .navbar .stemchats .stemchats-link {
  color: #ff5959;
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: 1px dashed #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .navbar .stemchats .stemchats-link:hover {
  text-decoration: none;
  color: #ff5959;
  border-bottom: 1px dashed #ff5959;
}

header .navbar .nav-item {
  font-family: Josefin Sans;
  z-index: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px;
  font-size: 17px;
  line-height: 74px;
  position: relative;
  list-style: none;
  display: inline-block;
}

header .navbar .nav-item .nav-link {
  font-weight: 800px;
  color: #fff;
}

header .navbar .nav-item .nav-link:hover {
  color: #82d1c6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar .nav-item.active {
  font-weight: bold;
}

header .navbar .nav-item.active .nav-link {
  color: #82d1c6;
}

header .navbar .dropdown:hover {
  z-index: 0;
  position: relative;
  display: inline-block;
}

header .navbar .dropdown:hover .dropdown-menu {
  margin-top: -1px;
  display: block;
  background-color: #005792;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .navbar .dropdown:hover .dropdown-menu .dropdown-item {
  color: white;
}

header .navbar .dropdown:hover .dropdown-menu .dropdown-item:hover {
  color: #82d1c6;
  font-style: bold;
  background-color: #005792;
}

header .navbar .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header .navbar .custom-toggler.navbar-toggler {
  border: none;
}

.team-header {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.teamcard-desc {
  padding-top: 10px;
  text-align: center;
}

.teamcard-desc .teamcard-position {
  color: #005792;
  font-size: 17px;
}

.teamcard-container {
  text-align: center;
  margin-bottom: 10px;
}

.img-hover img {
  width: 80%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials .fab {
  color: #005792;
  padding-left: 10px;
  font-size: 35px;
}

.socials .fab:hover {
  color: #13334c;
}

.modal-trigger {
  cursor: pointer;
}

.modal-title {
  font-size: 25px;
}

.modal-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  text-align: center;
}

.modal-role {
  margin-bottom: 15px;
  color: #005792;
}

.modal-body .img-fluid {
  height: 300px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
  padding-right: 20px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .img-hover img {
    height: 300px;
    width: 100%;
  }
}

.blog-header {
  text-align: center;
  font-size: 50px;
}

.blog-desc {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.post-btn {
  margin-bottom: 20px;
  color: #005792;
  border: 1.5px solid #005792;
  padding: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.post-btn:hover {
  text-decoration: none;
  color: white;
  background-color: #005792;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.post-btn:hover p {
  position: relative;
  white-space: normal;
  word-wrap: break-word;
  padding: 20px;
  padding-top: 20px;
}

.card-title a {
  text-decoration: none;
  color: #005792;
}

.card-title a:hover {
  color: #13334c;
}

.medium-btn {
  margin-bottom: 25px;
}

.card-img-top {
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

.column {
  float: left;
  width: 100%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.view-btn {
  background-color: #82d1c6;
  border: none;
  color: white;
  padding: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.view-btn:hover {
  background-color: #005792;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer {
  font-family: 'Karla';
}

footer .container-fluid {
  width: 100%;
  background-color: #005792;
  padding: 30px 40px;
  min-height: 150px;
}

footer h4 {
  color: white;
}

footer p {
  color: #b3cdde;
}

footer .nextlink {
  color: white;
}

footer .link {
  color: #b3cdde;
}

footer .link:hover {
  color: #82d1c6;
  text-decoration: none;
  border-bottom: 1px solid;
}

footer .magnify-logo {
  width: 150px;
}

footer .text-overlay {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

footer .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #13334c;
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 1;
}

footer .container-overlay {
  position: relative;
  width: 50%;
}

footer .container-overlay:hover .overlay {
  width: 150px;
}

footer .icon {
  color: white;
  margin: 0 10px;
}

footer .icon:hover {
  color: #82d1c6;
}

footer .mission {
  font-size: 25px;
  font-weight: 700;
  color: #82d1c6;
  font-style: italic;
  text-align: center;
}

footer .bottom {
  color: white;
  font-size: 13px;
}

footer .row-bottom {
  text-align: center;
}

#page {
  font-family: 'Karla';
  font-size: 18px;
  margin: 0px 90px;
}

#page .textbox {
  margin: 30px 10px;
}

#page h1 {
  font-family: 'Roboto Slab';
}

#page #ourmission .opening {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 1px solid #ff5959;
  border-radius: 25px;
}

#page #ourmission a {
  font-weight: bolder;
  color: #ff5959;
}

#page #ourmission a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #ff5959;
  background-color: #ffc2c2;
}

#page #ourmission .title {
  padding: 10px;
  text-align: center;
}

#page #ourmission .textbox {
  text-align: justify;
}

#page #ourmission .research-img {
  width: 500px;
  height: auto;
}

#page #ourmission b {
  color: #005792;
}

#page #ourmission .blueprint {
  margin-top: 60px;
  margin-bottom: 50px;
}

#page #ourmission .magnify {
  margin-top: 60px;
  margin-bottom: 50px;
}

#page #partners .textbox {
  text-align: center;
}

#page #partners a {
  font-weight: bolder;
  color: #005792;
}

#page #partners a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #005792;
  background-color: #99d6ff;
}

#page #partners img {
  width: 600px;
  height: auto;
}

#page #support .textbox {
  text-align: center;
  margin-bottom: 70px;
}

#page #support .handshake {
  color: #005792;
  text-align: center;
}

#page #support .btn {
  color: #005792;
  background-color: white;
  border-color: #005792;
  font-weight: bolder;
}

#page #support .btn:hover {
  color: white;
  background-color: #82d1c6;
  border-color: #82d1c6;
  font-weight: bolder;
}

#get-involved {
  font-family: 'Karla';
  font-size: 18px;
}

#get-involved h1 {
  margin-bottom: 40px;
}

#get-involved title {
  margin-top: 20px;
  font-family: 'Roboto Slab';
}

#get-involved .textbox {
  margin-top: 20px;
  margin-bottom: 20px;
}

#get-involved .card-deck {
  margin-top: 20px;
  margin-bottom: 20px;
}

#get-involved .buttons {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

#get-involved .write-img {
  width: 600px;
  height: auto;
}

#get-involved .scholars-img {
  width: 400px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#get-involved .stemchats-img {
  width: 300px;
  height: auto;
}

#get-involved .btn {
  background-color: #005792;
  border-color: #005792;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

#get-involved .btn:hover {
  background-color: #82d1c6;
  border-color: #82d1c6;
}

#get-involved .linkintext {
  font-weight: bolder;
  color: #005792;
}

#get-involved .linkintext:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #005792;
  background-color: #99d6ff;
}

#get-involved .work,
#get-involved .collaboration,
#get-involved .opportunities,
#get-involved .write {
  padding: 20px;
}

#get-involved .card-title {
  font-weight: bolder;
}

#get-involved .test {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#get-involved .opp-title {
  margin-bottom: 20px;
}

.carousel-item {
  height: 32rem;
  background: gray;
  color: wheat;
}

.headerBluePrint {
  text-align: center;
}

.imgBluePrint {
  height: 200px;
  width: 300px;
  position: relative;
  left: 550px;
}

.textSection {
  padding: 40px;
}

.partnerSection {
  background-color: pink;
  text-align: center;
  width: 1030px;
  font-size: 40px;
  position: relative;
  left: 120px;
}

.accordion {
  max-width: 800px;
  padding: 0 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}

.accordion .contentBx .label {
  position: relative;
  padding: 10px;
  background: #005792;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Josefin Sans;
  text-shadow: 0 -1px 1px #0056b3;
  cursor: pointer;
  margin-bottom: 8px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.accordion .contentBx .label::before {
  content: '\2295';
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.accordion .contentBx .content p {
  font-size: 16px;
  padding: 15px 20px;
  font-family: karla;
}

.accordion .contentBx .content p a {
  font-weight: bolder;
  color: #005792;
}

.accordion .contentBx .content p a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #005792;
  background-color: #99d6ff;
}

.accordion .contentBx.active .content {
  height: 150px;
  padding: 10px;
}

.accordion .contentBx.active .label::before {
  content: '\2296';
}

.accordion p {
  font-size: 16px;
  padding: 15px 20px;
  font-family: karla;
}

.accordion p a {
  font-weight: bolder;
  color: #005792;
}

.accordion p a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #005792;
  background-color: #99d6ff;
}

.Carouselcontainer {
  position: relative;
  margin-top: -20px;
  position: relative;
  top: 60px;
}

.Carouselcontainer .carousel-item {
  height: 32rem;
  background: gray;
  color: wheat;
}

.Carouselcontainer .carouselContainer {
  position: relative;
  top: 150px;
  left: 200px;
}

.Carouselcontainer .card1 {
  position: relative;
  top: -40px;
}

.Carouselcontainer .header-title {
  text-align: center;
  margin: 100px;
  font-size: 50px;
}

.Carouselcontainer .container {
  position: relative;
  top: -150px;
}

.col-sm {
  margin-top: -50px;
}

.image_hover .title {
  position: relative;
  top: 300px;
}

.image_hover .container {
  position: relative;
  width: 70%;
}

.image_hover .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.image_hover .middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image_hover .container:hover .image {
  opacity: 0.3;
}

.image_hover .container:hover .middle {
  opacity: 1;
}

.image_hover .text {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

.allJournals {
  background-color: #13334c;
  text-align: center;
  color: white;
}

.allJournals .card-body1 {
  position: relative;
  top: 13rem;
}

.allJournals .card-title1 {
  color: black;
}

.allJournals .card-text1 {
  color: black;
}

.allJournals .card-body2 {
  position: relative;
  top: 19rem;
}

.allJournals .card-body3 {
  position: relative;
  top: 9rem;
}

.allJournals .card-title2 {
  color: black;
}

.allJournals .card-text2 {
  color: black;
}

.allJournals .card-title3 {
  color: black;
}

.allJournals .card-text3 {
  color: black;
  padding-bottom: 20px;
}
/*# sourceMappingURL=styles.css.map */