// Roboto Slab
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
// Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// Karla (instead of Proxima Nova)
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// VARIABLES
$light-blue : #b3cdde;
$blue : #005792;
$dark-blue : #13334c;
$red : #ff5959;
$teal : #82d1c6;



// PAGE HIGHLIGHT
.home #home-nav,
.about #about-nav,
.journals #journals-nav,
.blog #blog-nav,
.involved #involved-nav {
    color: black;
    font-weight: bold;

    &:hover {
        color: $blue;
    }
}

// FOOTER
footer {
    font-family: 'Karla';
    height: 330px;
    width:100%;
    background-color: $blue;
    //padding-top: 25px; 
    //padding-left: 100px;
    padding: 25px 90px;
}


footer h4 {
    color: white
}
footer .nextlink {
    color: white
}
footer p{
    color: $light-blue
}

footer .link{
    color: $light-blue;

    &:hover{
        color: $teal;
        text-decoration: none;
        border-bottom: 1px solid;
    }
}


footer .magnify-logo{
    width:150px;
    display: block;
    height: auto;
}

footer .text-overlay {
    white-space: nowrap; 
    color :white;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

 footer .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:$dark-blue;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 1;
  }

  footer .container-overlay{
    position: relative;
    width: 50%;
      &:hover .overlay{
        width: 150px;
      }
  }

  footer .icon{
      color:white;
      margin: 0 10px;
      &:hover{
          color:$teal;
      }
  }

  
  footer .mission{
      font-size: 25px;
      margin-top: 45px ;
      font-weight: 700;
      color: $teal;
      font-style: italic;
      text-align:center;
  }

  footer .bottom{
      color:white;
      font-size:13px;
  }


  footer .row-bottom{
      text-align:center;
  }

  
