@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.home #home-nav,
.about #about-nav,
.journals #journals-nav,
.blog #blog-nav,
.involved #involved-nav {
  color: black;
  font-weight: bold;
}

.home #home-nav:hover,
.about #about-nav:hover,
.journals #journals-nav:hover,
.blog #blog-nav:hover,
.involved #involved-nav:hover {
  color: #005792;
}

.container, .container-fluid {
  position: relative;
  padding: 120px 1.5rem;
}

.text-center {
  width: 100%;
  border: none;
  border-radius: 0;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.small-box-title {
  margin-top: 10rem;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.medium-box-title {
  margin-top: 10rem;
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}

.large-box-title {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100px;
  background-color: #13334c;
}

header .navbar {
  padding: 20 0px;
  line-height: 74px;
  background-color: #13334c;
}

header .navbar .navbar-brand {
  font-weight: 800;
  font-size: 2em;
  font-family: Roboto Slab;
  color: #fff;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: rem;
  line-height: 100px;
  overflow: hidden;
  margin-left: 100px;
}

header .navbar .navbar-brand:hover {
  color: #ff5959;
}

header .navbar .navbar-brand .logo-img {
  width: 70px;
  margin-top: -10px;
  margin-right: -2px;
}

header .navbar .navbar-brand .logo-text {
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 5px 5px;
  font-weight: bold;
  z-index: 10;
  font-size: 50px;
  letter-spacing: 5px;
}

header .navbar .nav-item {
  font-family: Josefin Sans;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 25px;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 20px;
}

header .navbar .nav-item .nav-link {
  font-weight: 800px;
  color: #fff;
}

header .navbar .nav-item .nav-link:hover {
  color: #ff5959;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar .nav-item.active {
  font-weight: bold;
}

header .navbar .nav-item.active .nav-link {
  color: #82d1c6;
}

header .dropdown:hover {
  z-index: 0;
}

header .dropdown:hover .dropdown-menu {
  margin-top: -1px;
  display: block;
  background-color: #005792;

.team-header {
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}

.team-desc {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.teamcard-container {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0px 25px;
  padding: 0 50px 60px 50px;
}

.team-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-row img {
  height: 300px;
}

.teamcard-desc {
  padding-top: 30px;
}

.img-hover {
  position: relative;
  overflow: hidden;
}

.img-hover img {
  width: 250px;
  border-radius: 6%;
}

.teamcard-content {
  position: absolute;
  left: 0;
  width: 250px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.teamcard-content p {
  position: relative;
  white-space: normal;
  word-wrap: break-word;
  padding: 20px;
  padding-top: 20px;
}

.teamcard-desc .teamcard-position {
  color: #005792;
}

.teamcard-container:hover .img-hover .teamcard-content {
  background: #b3cdde;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 6%;
}

.socials .fab {
  color: #005792;
}

.socials .fab:hover {
  color: #13334c;
}

footer {
  font-family: 'Karla';
  width: 100%;
  background-color: #005792;
  padding: 25px 20px;
  min-height: 330px;
}

footer h4 {
  color: white;
}

footer p {
  color: #b3cdde;
}

footer .nextlink {
  color: white;
}

footer .link {
  color: #b3cdde;
}

footer .link:hover {
  color: #82d1c6;
  text-decoration: none;
  border-bottom: 1px solid;
}

footer .magnify-logo {
  width: 150px;
}

footer .text-overlay {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

footer .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #13334c;
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 1;
}

footer .container-overlay {
  position: relative;
  width: 50%;
}

footer .container-overlay:hover .overlay {
  width: 150px;
}

footer .icon {
  color: white;
  margin: 0 10px;
}

footer .icon:hover {
  color: #82d1c6;
}

footer .mission {
  font-size: 25px;
  margin-top: 45px;
  font-weight: 700;
  color: #82d1c6;
  font-style: italic;
  text-align: center;
}

footer .bottom {
  color: white;
  font-size: 13px;
}

footer .row-bottom {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */