// Roboto Slab
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
// Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// Karla (instead of Proxima Nova)
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// VARIABLES
$light-blue : #b3cdde;
$blue : #005792;
$dark-blue : #13334c;
$red : #ff5959;
$teal : #82d1c6;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container,
.container-fluid {
    position: relative;
    padding: 150px 1.5rem 70px;
}

.text-center {
    width: 100%;
    border: none;
    border-radius: 0;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: Karla;
 

    a{
        font-weight: bolder;
        color: $blue;
    
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid;
            color: $blue;
            background-color: #99d6ff;
        }
    }


}

ol {
    font-family: Karla;
}

.small-box-title {
    //h3
    margin-top: 10rem;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.medium-box-title {
    //h2
    margin-top: 10rem;
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
}

.large-box-title {
    //h1
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: Roboto Slab;
}




header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: $blue;

    .navbar {
        padding: 20 0px;
        line-height: 74px;
        background-color: $blue;

        .navbar-toggler-icon{
            border-color:transparent;
            background-color:#fff;
            border-style:none;
            z-index:0
        }

        .navbar-brand {
            font-weight: 800;
            font-size: 2em;
            font-family: Roboto Slab;
            color: #fff;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: rem;
            line-height: 100px;
            overflow: hidden;
            margin-left: 100px;

            &:hover {
                color: #82d1c6;
            }

            @media only screen and(min-width:1310px){
                .logo-img {
                    width: 70px;
                    margin-top: -10px;
                    margin-right: 20px;
                }

                .logo-text {
                    border: 0;
                    transition: 0.5s;
                    padding: 10px 5px 5px;
                    font-weight: bold;
                    z-index: 10;
                    font-size: 50px;
                    letter-spacing: 5px;
                    z-index:5;
                }
            }
            @media only screen and(max-width:1310px){
                .logo-img {
                    width: 100px;
                    z-index:999;
                }

                .logo-text {
                    width:0;
                    
                }
            }
        }
    
        .nav-item {
            font-family: Josefin Sans;
            z-index: 0;
            align-items: center;
            justify-content: center;
            margin-left: 25px;
            margin-right: 50px;
            margin-top: 10px;
            font-size: 20px;
            line-height:66px;
            position:relative;
            list-style:none;
            display:inline-block;

            .nav-link {
                font-weight: 800px;
                color: #fff;

                &:hover {
                    color: #82d1c6;
                    transition: 0.5s;
                }
            }

            &.active {
                font-weight: bold;

                .nav-link {
                    color: $teal;
                }
            }
        }
    }
    @media only screen and(min-width:769px){
        .dropdown:hover {
            z-index: 0;
            position:relative;
            display: inline-block;
       
            .dropdown-menu {
                margin-top: -1px;
                display: block;
                background-color:lightgray;
                width:100%;
                
                .dropdown-item{
                    color:$blue;

                }
                .dropdown-item:hover{
                    color:black;
                    font-style:bold;
                    background-color:lightgray;
                }
            }
            
        }
    }


    @media only screen and(max-width:769px){
        .dropdown{
            z-index: 0;
            position:relative;
            display: inline-block;
            margin:0 auto;
            
            .dropdown-menu {
                margin-top: -1px;
                background-color:lightgray;
                width:100%;
                line-height:20px;
                
                .dropdown-item{
                    color:$blue;
                }
                .dropdown-item:hover{
                    color:black;
                    font-style:bold;
                }
            }
            
        }

    }
    
}




// TEAM

 .team-header {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.teamcard-desc {
    padding-top: 10px;
    text-align: center;

    .teamcard-position {
        color: #005792;
        font-size: 17px;
    }
}

.teamcard-container {
    text-align: center;
    margin-bottom: 10px;
}

.img-hover img {
    width: 80%;
    height: 350px;
    object-fit: cover;
    border-radius: 6%;
    justify-content: center;
}

.socials .fab {
    color: #005792;
    padding-left: 10px;
    font-size: 35px;
}

.socials .fab:hover {
    color: #13334c;
}


.modal-trigger {
    cursor: pointer;
}

.modal-title {
    font-size: 25px;
}

.modal-head {
    display: flex;
    margin-bottom: 5px;
    text-align: center;
}

.modal-role {
    margin-bottom: 15px;
    color: #005792;
}

.modal-body .img-fluid {
    height: 300px;
    width: 250px;
    object-fit: cover;
    float: left;
    padding-right: 20px;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .img-hover img {
        height: 300px;
        width: 100%;
    }

}


// BLOG

.blog-header {
    text-align: center;
    font-size: 50px;
}

.blog-desc {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-btn {
    margin-bottom: 20px;
    color: #005792;
    border: 1.5px solid #005792;
    padding: 8px;
    transition: 0.4s;
}

.post-btn:hover {
    text-decoration: none;
    color: white;
    background-color: #005792;
    transition: 0.5s;

    p {
        position: relative;
        white-space: normal;
        word-wrap: break-word;
        padding: 20px;
        padding-top: 20px;
    }
}

.card-title a {
    text-decoration: none;
    color: #005792;

    &:hover {
        color: #13334c;
    }
}

.medium-btn {
    margin-bottom: 25px;
}

.card-img-top {
    height: 230px;
    object-fit: cover;
}

.column {
    float: left;
    width: 100%;
    padding: 10px;
  }
  
.row:after{
    content: "";
    display: table;
    clear: both;
  }

  .view-btn {
    background-color: #82d1c6;
    border: none;
    color: white;
    padding: 8px;
    transition: 0.2s;
  }

  .view-btn:hover {
    background-color: #005792;
    transition: 0.3s;
  }


// FOOTER

footer {
    font-family: 'Karla';

    .container-fluid {
        width: 100%;
        background-color: $blue;
        padding: 30px 40px;
        min-height: 150px;
    }

    h4 {
        color: white;
    }

    p {
        color: $light-blue
    }

    .nextlink {
        color: white
    }

    .link {
        color: $light-blue;

        &:hover {
            color: $teal;
            text-decoration: none;
            border-bottom: 1px solid;
        }
    }

    .magnify-logo {
        width: 150px;
    }

    .text-overlay {
        white-space: nowrap;
        color: white;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $dark-blue;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
        opacity: 1;
    }

    .container-overlay {
        position: relative;
        width: 50%;

        &:hover .overlay {
            width: 150px;
        }
    }

    .icon {
        color: white;
        margin: 0 10px;

        &:hover {
            color: $teal;
        }
    }

    .mission {
        font-size: 25px;
        font-weight: 700;
        color: $teal;
        font-style: italic;
        text-align: center;
    }

    .bottom {
        color: white;
        font-size: 13px;
    }

    .row-bottom {
        text-align: center;
    }
}

//ABOUT  

#page {
    font-family: 'Karla';
    font-size: 18px;
    margin: 50px 90px;

    .textbox {
        margin: 30px 10px;
    }

    #ourmission {

        .opening {
            text-align: center;
        }

        a {
            font-weight: bolder;
            color: $red;

            &:hover {
                text-decoration: none;
                border-bottom: 1px solid;
                color: $red;
                background-color: #ffc2c2;

            }
        }

        .title {
            padding: 10px;
            text-align: center;
        }

        .textbox {
            text-align: justify;
        }

        .research-img {
            width: 500px;
            height: auto;
        }

        b {
            color: $blue
        }

        .blueprint {
            margin-top: 60px;
            margin-bottom: 50px;
        }

        .magnify {
            margin-top: 60px;
            margin-bottom: 50px;
        }


    }

    #partners {

        .textbox {
            text-align: center;
        }

        a {
            font-weight: bolder;
            color: $blue;

            &:hover {
                text-decoration: none;
                border-bottom: 1px solid;
                color: $blue;
                background-color: #99d6ff;
            }
        }

        img {
            width: 600px;
            height: auto;
        }

    }

    #support {
        .textbox {
            text-align: center;
            margin-bottom: 70px;
        }

        .handshake {
            color: $blue;
            text-align: center;
        }

        .btn {
            color: $blue;
            background-color: white;
            border-color: $blue;
            font-weight: bolder;

            &:hover {
                color: white;
                background-color: $teal;
                border-color: $teal;
                font-weight: bolder;
            }

        }

    }
}
    

//GET INVOLVED 
#get-involved {
    font-family: 'Karla';
    font-size: 18px;

    h1 {
        margin-top: 20px;
        font-family: 'Roboto Slab';
    }

    .textbox{
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    .card-deck {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .buttons {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .write-img {
        width: 600px;
        height: auto;
    }

    .scholars-img {
        width: 400px;
        height: auto;
        justify-content: center;
    }

    .stemchats-img {
        width: 300px;
        height: auto;
    }

    .btn {
        background-color: $blue;
        border-color: $blue;
        box-shadow: none;
        outline: none;

        &:hover {
            background-color: $teal;
            border-color: $teal;
        }

    }

    .linkintext {
        font-weight: bolder;
        color: $blue;

        &:hover {
            text-decoration: none;
            border-bottom: 1px solid;
            color: $blue;
            background-color: #99d6ff;
        }
    }

    .work,
    .collaboration,
    .opportunities,
    .write {
        padding: 20px;
    }

    .card-title{
        font-weight: bolder;
    }

    .test{
        justify-content: center;
    }

    .card{
        width:800px;
    }
        
}


  
.carousel-item{
    height: 32rem;
    background: gray;
    color: wheat;
}
//.container {
    // position: absolute;
    // bottom: 0px;
    // left: 0px;
    // right: 0px;
    // padding: 50px;
//}

//.row {
    // display: flex;
    // flex-direction: row;
    // position: relative;
    // left: 320px;
//}
.headerBluePrint {
    text-align: center;        
}
.imgBluePrint {
    height: 200px;
    width: 300px;
    position: relative;
    left: 550px;
}
.textSection {
    padding: 40px;
}

.partnerSection {
background-color: pink; 
text-align: center;
width: 1030px;
font-size: 40px;
position: relative;
left: 120px;
}

.accordion{
    max-width: 800px;
    padding: 0 20px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;

    .contentBx{
        position:relative;
        margin: 10px 20px;
        
        .label{
            position:relative;
            padding:10px;
            background:$blue;
            align-items:center;
            justify-content: space-between;
            border-radius: 3px;
            color:#fff;
            font-size: 18px;
            font-weight: 500;
            font-family: Josefin Sans;
            text-shadow: 0 -1px 1px #0056b3;
            cursor:pointer;
            margin-bottom:8px;
            box-shadow:0px 0px 15px rgba(0, 0, 0, 0.18);
        }

        .label::before{
            content:'\2295';
            position:absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size:1.5em;
        }

        .content{
           position:relative;
           background: #fff;
           height: 0;
           overflow:hidden;
           transition: 0.5s;
           overflow-y: auto;
           box-shadow:0px 0px 15px rgba(0, 0, 0, 0.18);

           p{
            font-size: 16px;
            padding: 15px 20px;
            font-family: karla;

                a{
                    font-weight: bolder;
                    color: $blue;
        
                    &:hover {
                        text-decoration: none;
                        border-bottom: 1px solid;
                        color: $blue;
                        background-color: #99d6ff;
                    }
                }
           }
        }
    }
    
    .contentBx.active .content{
        height: 150px;
        padding: 10px;
    }
    .contentBx.active .label::before{
        content:'\2296';
    }

    p{
        font-size: 16px;
        padding: 15px 20px;
        font-family: karla;

            a{
                font-weight: bolder;
                color: $blue;
    
                &:hover {
                    text-decoration: none;
                    border-bottom: 1px solid;
                    color: $blue;
                    background-color: #99d6ff;
                }
            }
       }
    
}
