// Roboto Slab
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
// Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// Karla (instead of Proxima Nova)
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// VARIABLES
$light-blue : #b3cdde;
$blue : #005792;
$dark-blue : #13334c;
$red : #ff5959;
$teal : #82d1c6;




// PAGE HIGHLIGHT
.home #home-nav,
.about #about-nav,
.journals #journals-nav,
.blog #blog-nav,
.involved #involved-nav {
    color: black;
    font-weight: bold;

    &:hover {
        color: $blue;
    }
}

// TEAM

.team-header {
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  
  .team-desc {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .teamcard-name {
      padding-top: 20px;
  }

  .teamcard-position {
      color: #005792;
      font-size: 17px;
  }

  .teamcard-container {
    margin-bottom: 20px;
}

.img-hover img {
        height: 300px;
        width: 260px;
        object-fit: cover;
        border-radius: 6%;
    }
  
  .socials .fab {
    color: #005792;
    padding-left: 10px;
    font-size: 35px;
  }
  
  .socials .fab:hover {
    color: #13334c;
  }

.modal-trigger {
    cursor: pointer;
}

.modal-title {
    font-size: 25px;
}

.modal-head {
    display: flex;
    margin-bottom: 5px;
    text-align: center;
  }

.modal-role {
    margin-bottom: 15px;
    color: #005792;
}

.modal-body .img-fluid {
    height: 300px;
    width: 250px;
    object-fit: cover;
    float:left;
    padding-right: 20px;
}

@media (max-width: 700px) {
    .modal-body .img-fluid {
        float: none;
        margin-bottom: 10px;
    }
}


// BLOG

.blog-header {
    text-align: center;
    font-size: 50px;
}

.blog-desc {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-btn {
    margin-bottom: 20px;
    color: #005792;
    border: 1.5px solid #005792;
    padding: 8px;
    transition: 0.4s;
}

.post-btn:hover {
    text-decoration: none;
    color: white;
    background-color: #005792;
    transition: 0.5s;
}

.card-title a {
    text-decoration: none;
    color: #005792;
    
}

.card-title a:hover {
    text-decoration: none;
    color: #13334c;
}

.medium-btn {
    margin-bottom: 25px;
}

.card-img-top {
    height: 230px;
    object-fit: cover;
}

  

// FOOTER
footer {
    font-family: 'Karla';
    width:100%;
    background-color: $blue;
    padding: 25px 20px;
    min-height: 330px;

    h4 {
        color: white;
    }

    p{
        color: $light-blue
    }

    .nextlink {
        color: white
    }

    .link{
        color: $light-blue;
    
        &:hover{
            color: $teal;
            text-decoration: none;
            border-bottom: 1px solid;
        }
    }

    .magnify-logo{
        width:150px;
        //display: block;
        //height: auto;
    }

    .text-overlay {
        white-space: nowrap; 
        color :white;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:$dark-blue;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 1;
    }

    .container-overlay{
        position: relative;
        width: 50%;
        &:hover .overlay{
            width: 150px;
        }
    }

    .icon{
        color:white;
        margin: 0 10px;
        &:hover{
            color:$teal;
        }
    }

    .mission{
        font-size: 25px;
        margin-top: 45px ;
        font-weight: 700;
        color: $teal;
        font-style: italic;
        text-align:center;
    }

    .bottom{
        color:white;
        font-size:13px;
    }
  
    .row-bottom{
        text-align:center;
    }
}
  
